/*body {
	background-image: url("/img/Beach_back.jpg");
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}

#wrapperHeader{
    position: relative;
    background-image:url(/img/Beach_back.jpg);
}

#header{
    left: 50%;
    margin-left: -500px;
    background:url(/img/Profile.jpg) no-repeat;
    width:1000px;
    height:200px;
}*/